.certificates-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    /* background-color: #f4f4f4; */
  }
  
  .certificate {
    position: relative;
    width: 250px;
    height: 175px;
    overflow: hidden;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
  }
  
  .certificate:hover {
    border-color: #8a2be2;
    box-shadow: 0 0 20px rgba(138, 43, 226, 0.8);
  }
  
  .certificate img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
  
  .certificate:hover img {
    transform: scale(1.1);
  }
  
  .certificate-overlay {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
  }
  
  .certificate:hover .certificate-overlay {
    transform: translateY(0);
   
  }
  
  .certificate-overlay h3 {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
  }
  
  h2{
    margin-top: 20px;
    text-align: center;
  }

  