body {
  background: url('./stuffs/img/c8.jpg') no-repeat fixed center center;
  background-size: cover;
}

.m {
  padding: 20px;
}

.mar {
  margin-top: 20px;
}

.intro {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.name {
  color: rgb(74, 7, 100);
  font-size: 22px;
  margin: 5px;
}

.para {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.b {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b a {
  text-decoration: none;
  color: rgb(74, 7, 100);
  padding: 10px;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
  border: none;
  font-size: 18px;
  cursor: pointer;
  width: 60%;
  max-width: 300px;
  margin: 0 auto;
}

.b a:hover {
  transition: 0.5s;
  font-size: 20px;
  padding: 11px;
}
